<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">THÊM NHÂN VIÊN</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" action="/admin/themnv" enctype="multipart/form-data">
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">TÊN GIẢNG VIÊN:</label>
						<input type="text" name="ten" class="form-control" id="recipient-name">
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">SỐ ĐIỆN THOẠI:</label>
						<input type="text" name="sdt" class="form-control" id="recipient-name">
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">EMAIL:</label>
						<input type="email" name="email" class="form-control" id="recipient-name">
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">ĐIẠ CHỈ:</label>
						<input type="text" name="diachi" class="form-control" id="recipient-name">
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">GIỚI TÍNH:</label>
						<input type="text" name="gioitinh" class="form-control" id="recipient-name">
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">LĨNH VỰC:</label>
						<input type="text" name="linhvuc" class="form-control" id="recipient-name">
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">TRẠNG THÁI:</label>
						<select name="trangthai" class="form-control">
							<option value="0">CÓ LÀM</option>
							<option value="1">NGHĨ</option>
						</select>
					</div>
					<div class="file-field">
						<div class="z-depth-1-half mb-4">
							<img style="width: 100%;height: 300px;" id="blah"
								src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" alt="" />
							<div class="d-flex justify-content-center">
								<div class="btn btn-mdb-color btn-rounded float-left">
									<span>Choose file</span>
									<input name="file" type='file' id="imgInp" />
								</div>
							</div>
						</div>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">THOÁT</button>

						<input type="submit" class="btn btn-primary" value="THÊM NHÂN VIÊN">
					</div>
				</form>

			</div>

		</div>
	</div>
</div>