<% include header %>


<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_text_inner">
            <h4>Contact Us</h4>
            <h5>Tell us about your story and your project.</h5>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================Contact Us Area =================-->
<section class="contact_us_area">
    <div class="container">
        <div id="mapBox" class="mapBox row m0"      >
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6248979163784!2d106.66157801471056!3d10.763364792330405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752eef50279211%3A0x3883135ee036bb33!2zMzggTmd1eeG7hW4gTMOibSwgUGjGsOG7nW5nIDYsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1553480493052" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
        <div class="contact_details_inner">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact_text">
                        <div class="main_title">
                            <h2>ĐỊA CHỈ LIÊN HỆ</h2>
                            <p>Chúng tôi sẽ luôn mang tới cho bạn một dịch vụ tốt nhất</p>
                        </div>
                        <div class="contact_d_list">
                            <div class="contact_d_list_item">
                                <a href="#">0388614766</a>
                                <a href="#">tranvanbaocntt1@gmail.com</a>
                            </div>
                            <div class="contact_d_list_item">
                                <p>46/3r HÓC MÔN <br /> THÀNH PHỐ HỒ CHÍ MINH, VIỆT NAM</p>
                            </div>
                            <div class="contact_d_list_item">
                                <p>Mở cửa: 9.00-21.00 Mon-Fri <br />Sunday: Closed</p>
                            </div>
                        </div>
                        <div class="static_social">
                            <div class="main_title">
                                <h2>Follow Us:</h2>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact_form">
                        <div class="main_title">
                            <h2>ĐĂNG KÝ </h2>
                            <p>Chúng tôi sẽ trả lời cho bạn sớm nhất.</p>
                        </div>
                        <form class="contact_us_form row" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                            <div class="form-group col-lg-12">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="text" class="form-control" id="name" name="SDT" placeholder="SDT">
                            </div>

                            <div class="form-group col-lg-12">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="text" class="form-control" id="subject" name="diachi" placeholder="Địa chỉ">
                            </div>
                            <div class="form-group col-lg-12">
                                <select style="height: 50px" id="message" name="khoahoc" class="form-control">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                  </select>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" value="submit" class="btn submit_btn2 form-control">GỬI LIÊN HỆ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Contact Us Area =================-->
<% include footer %>