<% include header %>

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_text_inner">
            <h4>Contact Us</h4>
            <h5>Tell us about your story and your project.</h5>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->
<section class="contact_us_area">
        <div class="container">          
            <div class="contact_details_inner">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact_text">
                            <div class="main_title">
                                <h2>LIÊN HỆ</h2>
                                <p></p>
                            </div>
                            <div class="contact_d_list">
                                <img src="../../../images/img/dangky.png" alt="">
                            </div>
                            <div class="static_social">
                                <div class="main_title">
                                    <h2>Follow Us:</h2>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact_form">
                            <div class="main_title">
                                <h2>ĐĂNG KÝ</h2>
                                <p>CHÚNG TÔI SẼ LIÊN HỆ VỚI BẠN SỚM NHẤT.</p>
                            </div>
                            <form class="contact_us_form row" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <div class="form-group col-lg-12">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
                                </div>
                                <div class="form-group col-lg-12">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="SDT">
                                </div>
    
                                <div class="form-group col-lg-12">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-group col-lg-12">
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Địa chỉ">
                                </div>
                                <div class="form-group col-lg-12">
                                    <select style="height: 50px" id="message" class="form-control">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                      </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <button type="submit" value="submit" class="btn submit_btn2 form-control">ĐĂNG KÝ</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Contact Us Area =================-->

<% include footer %>