<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <link rel="icon" href="../../../images/img/fav-icon.png" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Fancy</title>

    <!-- Icon css link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="../../../css/outsite/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../../vendors/elegant-icon/style.css" rel="stylesheet">
    <link href="../../../vendors/themify-icon/themify-icons.css" rel="stylesheet">
    <!-- Bootstrap -->
  
    <link href="../../../css/outsite/css/bootstrap.min.css" rel="stylesheet">
    <!-- Rev slider css -->
    <link href="../../../vendors/revolution/css/settings.css" rel="stylesheet">
    <link href="../../../vendors/revolution/css/layers.css" rel="stylesheet">
    <link href="../../../vendors/revolution/css/navigation.css" rel="stylesheet">
    <link href="../../../vendors/animate-css/animate.css" rel="stylesheet">
        
    <!-- Extra plugin css -->
    <link href="../../../vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">

    
    <link href="../../../css/outsite/khoahoc/khoahoc.css" rel="stylesheet">
    <link href="../../../css/outsite/khoahoc/khoahoc1.css" rel="stylesheet">
    <link href="../../../css/outsite/css/style.css" rel="stylesheet">
    <link href="../../../css/outsite/css/responsive.css" rel="stylesheet">
    </head>
    <body>

            <!--================Search Area =================-->
    <section class="search_area">
            <div class="search_inner">
                <input type="text" placeholder="Enter Your Search...">
                <i class="ti-close"></i>
            </div>
        </section>
        <!--================End Search Area =================-->
    
        <!--================Header Menu Area =================-->
        <header class="main_menu_area" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><img src="../../../images/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">TRANG CHỦ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/khoahoc">LỊCH KHAI GIẢNG</a></li>
                        <li class="nav-item"><a  href="/blog">GIỚI THIỆU</a></li>
                        <li class="nav-item"><a class="nav-link" href="/khoahoc">KHÓA HỌC ONLINE</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">LIÊN HỆ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/dangky">ĐĂNG KÝ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">FORUM</a></li>
                        
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li><a href="#"><i class="icon_search"></i></a></li>
                        <li><a href="/login"><i class="icon_bag_alt"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--================End Header Menu Area =================-->

        <div id="wrapper">
