<% include header %>


<!--================Banner Area =================-->
<section class="banner_area">
        <div class="container">
            <div class="banner_text_inner">
                <h4>HÃY LIÊN HỆ VỚI CHÚNG TÔI</h4>
                <h5>KHI BẠN ĐÃ SĂN SÀNG</h5>
            </div>
        </div>
    </section>
    <!--================End Banner Area =================-->
    

    <!--================Latest News Area =================-->
    <section class="latest_news_area p_100">
            <div class="container">
                <div class="b_center_title">
                    <h2>CÁC KHÓA HỌC SẮP KHAI GIẢNG</h2>
                    <p>HỌC, HỌC NỮA, HỌC MÃI</p>
                </div>
                <div class="l_news_inner">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="l_news_item">
                                <div class="l_news_img"><a href="#"><img class="img-fluid"  src="../../../images/khoahoc/forex.jpg" alt=""></a></div>
                                <div class="l_news_content">
                                    <a href="#"><h4>KHOÁ HỌC FOREX CƠ BẢN & BINARY OPTIONS</h4></a>
                                    <p>Giúp các bạn cách kiếm tiền từ thị trường này, cũng như hiểu rõ những rủi ro, cạm bẫy, kinh nghiệm của những người đi trước, giúp bạn thành công trong thị trường này một cách ngọt ngào nhất.</p>
                                    <a class="more_btn" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="l_news_item">
                                <div class="l_news_img"><a href="#"><img class="img-fluid" src="../../../images/khoahoc/forex-nangcao.jpg" alt=""></a></div>
                                <div class="l_news_content">
                                    <a href="#"><h4>KHOÁ HỌC KIẾM TIỀN VỚI FOREX NÂNG CAO</h4></a>
                                    <p>Giúp các bạn cách kiếm tiền từ thị trường này, cũng như hiểu rõ những rủi ro, cạm bẫy, kinh nghiệm của những người đi trước, giúp bạn thành công trong thị trường này một cách ngọt ngào nhấ</p>
                                    <a class="more_btn" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="l_news_item">
                                <div class="l_news_img"><a href="#"><img class="img-fluid" src="../../../images/khoahoc/front-end.jpg" alt=""></a></div>
                                <div class="l_news_content">
                                    <a href="#"><h4>LẬP TRÌNH FRONT-END</h4></a>
                                    <p>Thiết kế web luôn là một nghề hấp dẫn bất kì thời điểm nào, bạn thử Google từ khoá "Tuyển dụng Lập trình Front End" sẽ thấy ngay các nhà tuyển dụng đang săn đón với mức lương cực hấp dẫn...</p>
                                    <a class="more_btn" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l_news_inner">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="l_news_item">
                                    <div class="l_news_img"><a href="#"><img class="img-fluid"  src="../../../images/khoahoc/forex.jpg" alt=""></a></div>
                                    <div class="l_news_content">
                                        <a href="#"><h4>KHOÁ HỌC FOREX CƠ BẢN & BINARY OPTIONS</h4></a>
                                        <p>Giúp các bạn cách kiếm tiền từ thị trường này, cũng như hiểu rõ những rủi ro, cạm bẫy, kinh nghiệm của những người đi trước, giúp bạn thành công trong thị trường này một cách ngọt ngào nhất.</p>
                                        <a class="more_btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="l_news_item">
                                    <div class="l_news_img"><a href="#"><img class="img-fluid" src="../../../images/khoahoc/forex-nangcao.jpg" alt=""></a></div>
                                    <div class="l_news_content">
                                        <a href="#"><h4>KHOÁ HỌC KIẾM TIỀN VỚI FOREX NÂNG CAO</h4></a>
                                        <p>Giúp các bạn cách kiếm tiền từ thị trường này, cũng như hiểu rõ những rủi ro, cạm bẫy, kinh nghiệm của những người đi trước, giúp bạn thành công trong thị trường này một cách ngọt ngào nhấ</p>
                                        <a class="more_btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="l_news_item">
                                    <div class="l_news_img"><a href="#"><img class="img-fluid" src="../../../images/khoahoc/front-end.jpg" alt=""></a></div>
                                    <div class="l_news_content">
                                        <a href="#"><h4>LẬP TRÌNH FRONT-END</h4></a>
                                        <p>Thiết kế web luôn là một nghề hấp dẫn bất kì thời điểm nào, bạn thử Google từ khoá "Tuyển dụng Lập trình Front End" sẽ thấy ngay các nhà tuyển dụng đang săn đón với mức lương cực hấp dẫn...</p>
                                        <a class="more_btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <!--================End Latest News Area =================-->
    

<% include footer %>